---
import { SITE_DESCRIPTION, SITE_TITLE } from 'src/consts';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
} = Astro.props;

const _title = title !== SITE_TITLE ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
---

<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=GTM-MW9HZSQD"
  is:inline></script>
<script type="text/partytown" is:inline>
  window.dataLayer = window.dataLayer || [];
  window.gtag = function gtag() {
    dataLayer.push(arguments);
  };
  gtag('js', new Date());

  gtag('config', 'GTM-MW9HZSQD');
</script>
<script id="mierucajs" type="text/partytown" is:inline>
  window.__fid = window.__fid || [];__fid.push([113154761]);
  (function() {
  function mieruca(){if(typeof window.__fjsld != "undefined") return; window.__fjsld = 1; var fjs = document.createElement('script'); fjs.type = 'text/javascript'; fjs.async = true; fjs.id = "fjssync"; var timestamp = new Date;fjs.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://hm.mieru-ca.com/service/js/mieruca-hm.js?v='+ timestamp.getTime(); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(fjs, x); };
  setTimeout(mieruca, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent("onload", mieruca) : window.addEventListener("load", mieruca, false)) : mieruca();
  })();
</script>
<script id="mierucaOptimizejs" type="text/partytown" is:inline>
  window.__optimizeid = window.__optimizeid || [];__optimizeid.push([1877081454]);
  (function () {var fjs = document.createElement('script');fjs.type = 'text/javascript';
  fjs.async = true;fjs.id = "fjssync";var timestamp = new Date;fjs.src = 'https://opt.mieru-ca.com/service/js/mieruca-optimize.js?v=' + timestamp.getTime();
  var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(fjs, x);})();
</script>


<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<title>{_title}</title>
<meta name="title" content={_title} />
<meta name="description" content={description} />

<meta property="og:site_name" content={SITE_TITLE} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta
  property="og:image"
  content={new URL(image ?? '/ogp/sm.jpg', Astro.url)}
/>

<meta
  property="twitter:card"
  content={image ? 'summary_large_image' : 'summary'}
/>
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={new URL(image ?? '/ogp/sm.jpg', Astro.url)}
/>
